#login_page_backend {
	margin-top:80px;
	background:#fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-color: -moz-use-text-color #CCCCCC #CCCCCC -moz-use-text-color;
    border-radius: 8px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    padding: 20px;
	color: #9d9d9d;
	font-size: 13px;
}
#login_page_backend input[type="text"] , #login_page_backend input[type="password"]{
	padding:8px 10px;
}
#login_page_backend p {
	margin: 0px;
}

#login_page_backend .inputSet p {
	text-align: right;
}
#login_page_backend .inputSet .label {
	width: 20%;
}
#login_page_backend .inputSet .input{
	width: 75%;
}
#login_page_backend .inputSet .label p{
	padding-right: 10px;
}
#login_page_backend .inputSet .input input{
	width: 95%;
	border-radius : 5px;
}
.dodol_logo {
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
#login_page_backend .dodol_logo p {
 text-align: center;
}
#login_page_backend .password .input {
	
}
#login_page_backend .password input[name="pass"] {
	width: 250px;
	float: left;
	border-radius:0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#login_page_backend .password .recover{
	background: #dbdbdb;
	height: 30px;
	line-height: 30px;
	padding:0px 10px;
	border: 1px solid #B2B2B2;
	float: left;
	width: 126px;
	text-shadow: 0 1px 0 #fff;
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#login_page_backend .password .recover a {
	text-decoration: none;
}
#login_page_backend .password {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc ;
}