/* style page */


/* Store Add Product
----------------------------------------------------------------------------------------------------*/
#addeditprod .attr_prod_form h3 {
	padding: 10px;
  	text-align: center;
  	margin-bottom: 20px;
  	border-bottom: 1px solid #DDDDDD;
}
#addeditprod .attr_prod_form .inputColl_ver .item{
	width: 250px;
	margin-right: 20px;
	}
#addeditprod .attr_prod_form .inputColl_ver div.item:last-child{
	margin-right: 0px;
}
#addeditprod .attr_prod_form .inputColl_ver{
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
#addeditprod .attr_prod_form .inputColl_ver .item label{
	display: block;
}
#addeditprod .attr_prod_form .inputColl_ver .item input{
	width: 233px;
}
#addeditprod .attr_prod_form .fieldset_wrapper {
	padding-top: 10px;
}
#addeditprod .attr_prod_form #clone_attr{
	font-size: 12px;
	position: absolute;
	right :20px;
}
#addeditprod .seo textarea{
	height: 150px;
}
#addeditprod .seo .left.box2, #b_product_addProd .seo .right.box2{
	padding-bottom: 25px;
}

#addeditprod .prod_media .form_engine p {
	margin-bottom: 5px;
}
#addeditprod .prod_media .form_engine .drop_area{
	background: #F6F6F6;
	padding: 15px;
	border-radius: 5px;
	height: 50px;
}
#addeditprod .prod_media .form_engine .drop_area p {
	text-align: center;
}

#addeditprod .prod_media .the_medias {
	margin-left: 20px;
	padding-left: 20px;
	min-height:  300px;
	border-left: 1px solid #ddd;
}
#addeditprod .prod_media .the_medias .item {
	float: left;
	margin-right: 10px;
	position: relative;
}
#addeditprod .prod_media .the_medias .item:hover .button.delete{

	display: block;
	
}
#addeditprod .prod_media .the_medias .item .button.delete {
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 10px;
	display: none;
	padding: 1px 5px;
}
#addeditprod .prod_media .the_medias .item img {
	width: 190px;
}
#addeditprod .prod_media .the_medias .item .name_media{
	text-align: center;
	padding: 6px;
	cursor: pointer;
	margin-bottom: 0px;
}
#addeditprod .prod_media .the_medias .item .input_name_media{
	border: none !important;
	box-shadow: none !important;
	size: 11px;	
	font-style: italic;
	text-align: center;
	width: 178px;
	display: none;
}
#addeditprod .relation .the_relations {
	margin-left: 20px;
	padding-left: 20px;
	border-left: 1px solid #ddd;
	width: 600px;
	border-left: 1px solid #ddd;
	min-height: 350px;
	
}
#addeditprod .relation .the_relations .item {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 190px;
}
#addeditprod .relation .the_relations .item img{
	width: 190px;
}
#addeditprod .relation .the_relations .item p{
	margin-bottom: 0px;
	text-align: right;
}
#addeditprod .relation .the_relations .item .button.delete{
	position: absolute;
	left: 5px;
	top: 5px;
	font-size: 10px;
	padding: 1px 5px !important;
	display: none;

}
#addeditprod .relation .the_relations .item:hover .button.delete{
	display: block;
}
#addeditprod .relation .form_engine {
	width: 300px;
}
#addeditprod .relation .form_engine .result {
	padding-top: 15px;
}

#addeditprod .relation .form_engine .result .item{
	border-bottom: 1px solid #DDD;
	margin-bottom: 10px;
	position: relative;	
}
#addeditprod .relation .form_engine .result .item .button.add{
	position: absolute;
	right: 0px;
	bottom: 3px;
	padding: 1px 5px !important;
	font-size: 10px;

}
#addeditprod .relation .form_engine .result .item img {
	float: left;
	margin-right: 10px;
}

#b_order_browse .list_order .trigger { cursor: pointer; right:3px ;top:3px;  background:#fff;}
#b_order_browse .list_order .update_form {background:#fff;; z-index:3; margin-top:-3px; border:1px solid #a1a1a1; border-radius:3px;}
#b_order_browse .list_order .update_form ul { padding:0px; margin:0px;}
#b_order_browse .list_order .update_form .inner {padding:0px 3px;}
#b_order_browse .list_order .update_form ul li { margin:0px 2px; list-style:none; text-transform: capitalize; padding:3px; cursor:pointer;}
#b_order_browse .list_order .update_form ul li.active {background-color: #12b8b6; margin:0px -3px; color:#fff; padding:3px 5px;}

#b_order_view .left_pane h3  {border-bottom:1px solid #ccc ;}
#b_order_view  h3  {font-size:13px; margin-bottom:5px;}
#b_order_view .order_items .final_total { border-top:1px solid #ccc;}
#b_order_view .order_items .final_total td { background:#fff; border-bottom: none;border-top:1px solid #000;}
#b_order_view .order_items thead tr td { text-align:left;}
/** backend Front Login **/
.backend .login_page .heading_page { margin: -10px -15px 0px -15px; padding: 10px;-webkit-border-radius: 3px;
   -moz-border-radius: 3px;
        border-radius: 3px; color: #fff;}
.backend .login_page .heading_page h4 {margin:0px; font-weight: normal;}

/* STORE PROD LIST
-------------------------------------------------------------------------------------------------------*/
#b_customer_browse .customer_filter {
	border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
 	background: #fafafa; border: 1px solid #ddd; color: #444; 
	
	
}
#b_customer_browse .customer_filter ul { padding:0px; margin:0px;}
#b_customer_browse .customer_filter ul li { margin:0px; list-style:none; padding:10px 10px; border-bottom:1px solid #ddd; border-top:1px solid #fff}
#b_customer_browse .customer_filter ul li:last-child {border:none;}
#b_customer_browse .customer_filter ul li:hover {background:#e9e9e9}
#b_customer_browse .customer_filter ul li a {text-decoration: none;}
#b_customer_browse .customer_filter .mod_head { border-bottom:1px solid #ddd;  padding:5px 10px; font-weight: bold; font-size:12px}
#b_customer_browse .customer_filter h3 { font-size: 12px; font-weight: bold; margin:0px;}

/* Collection List
-------------------------------------------------------------------------------------------------------*/
#b_collection_browse .coll_list .collection_snap h3 { font-size:15px; margin:0px}

/* b_modularizer_browse
-------------------------------------------------------------------------------------------------------*/
#b_modularizer_browse {}
#b_modularizer_browse .available_widget .item{ padding-bottom:10px;padding-top:10px; border-bottom:1px solid #ccc; border-top:1px solid #fff}

#b_order_shipping_label #component .left_grid {
	padding-right: 20px;
	margin-right: 20px;
	border-right: 1px solid #ddd;
}
#b_order_shipping_label #component .right_grid {
	width: 650px;
}
#b_order_shipping_label .shipping_label_form .itemInput {
	margin-bottom: 10px;
}
#b_order_shipping_label .shipping_label_form .itemInput label {
	display: block;
}
#b_order_shipping_label .shipping_label_form .itemInput input {
	width: 210px;
	padding: 5px;
}
#b_order_shipping_label #print_preview {
	width: 650px;
	height: 600px;
}
	
