body{}.mainGrid
a{color:#0094C2}.def_grad{background-image: -moz-linear-gradient(-90deg, #059a9f , #058b9b );background-image: -webkit-gradient(linear, 0 top, 0 bottom, from( #059a9f ), to( #058b9b ))}.backend{}.mainGrid{background:#fff;padding:25px
15px 10px;margin-bottom:50px}.header{border-bottom:1px solid #058B9B;margin-top:10px;margin-bottom:10px}.mainWrap{min-height:300px}.footerWrap{border-top:1px solid #c1c1c1;margin-bottom:30px;font-size:11px;padding-top:5px;margin-top:10px}.navigation{height:40px;color:#fff;background:url(http://localhost/culture-update.com/assets/theme/theme_admin/default/css/../img/header-bg.png);padding-bottom:5px}.navigation
.inner{height:37px}.navigation
a{color:#0094C2;text-shadow:0 1px 0 #058b9b}#backendMenu{margin-bottom: -5px}#backendMenu ul  li:hover  span
a{background:#0089B3;color:#fff;text-shadow:0 1px 0 #0094C2}#backendMenu  ul  li  span
a{color:#fff;padding:0px
15px;line-height:41px}#backendMenu ul li
ul{background:transparent}#backendMenu ul li.hv_child ul li span
a{background:transparent;color:#0094C2}#backendMenu ul li ul li:hover
a{background:#15b5ca;color:#fff}.pageTitle{font-size:24px;margin:0px;text-transform:capitalize}.header{margin-bottom:15px}.header .logoTop
h1{font-size:24px;font-weight:normal;margin:0px}.header
.pageMenu{bottom:0px;right:0px}.header .pageMenu
ul{padding:0px;margin:0px}.header .pageMenu
li{list-style:none;float:left;margin:0px
0px 0px 5px}.header .pageMenu
a{text-decoration:none;background-color:#000;background-image: -moz-linear-gradient(-90deg, #059a9f , #058b9b );background-image: -webkit-gradient(linear, 0 top, 0 bottom, from( #059a9f ), to( #058b9b ));color:#FFF;display:block;padding:5px
10px;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;border-radius-topleft:3px;border-radius-topright:3px}.backUserWid{-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px;font-weight:normal}.backUserWid
.u_image{margin-right:10px}.backUserWid .u_image
img{border:1px
solid #FFF;height:25px}.backUserWid
span{text-shadow:0 1px 0 #fff}.backUserWid
a{text-shadow:0 1px 0 #fff}.main_statistic_widget
.item{float:left;border-right:#ccc 1px dotted;padding:0
15px}.main_statistic_widget .item
span{display:block;text-align:center}.main_statistic_widget .item
span.title{text-shadow:0 1px 0 #fff}.main_statistic_widget .item
span.value{font-size:14px;font-weight:bold}.main_statistic_widget div:last-child{border-right:none }.backend_userPane{position:relative}.backend_userPane
a{color:#fff;text-decoration:none}.backend_userPane
.trigger{background:url(http://localhost/culture-update.com/assets/theme/theme_admin/default/css/../../../../global_img/icon/white/gear32_16px.png) no-repeat right center;padding-right:20px;line-height:20px;margin-bottom:0px}.backend_userPane
.triggerWrap{padding:5px
10px 5px 10px;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;border-radius-topleft:3px;border-radius-topright:3px;cursor:pointer}.backend_userPane:hover
.triggerWrap{background:#15b5ca}.backend_userPane
.paneContainer{padding:10px;background:#15b5ca;z-index:1000;width:200px;position:absolute;right:0px;-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px;border-radius-bottomleft:3px;border-radius-bottomright:3px;display:none}.backend_userPane:hover
.paneContainer{display:block}.backend_userPane .paneContainer
.menu{width:100px }.backend_userPane .paneContainer .menu
ul{list-style:none;padding:0px;margin:0px}.backend_userPane .paneContainer .menu ul
li{margin-left:0px}.pageHeading .headingTitle
h1{font-weight:normal;font-size:18px}.zeroCLipBut
.hover{background:#c8c6d6}.zeroCLipBut
.active{background:#838180}.droplinetabs{overflow:hidden}.droplinetabs
ul{margin:0;padding:0;width:100%;list-style:none}.droplinetabs
li{display:inline;margin:0
0px 0 0;padding:0}.droplinetabs
a{float:left;text-decoration:none}.droplinetabs a:link, .droplinetabs a::visited, .droplinetabs a:active{}.droplinetabs a
span{float:left;cursor:pointer}.droplinetabs a
span{float:none}.droplinetabs a:hover{}.droplinetabs a:hover
span{background-color:transparent}.droplinetabs ul li
ul{position:absolute;z-index:100;left:0;top:0;visibility:hidden}.droplinetabs ul li ul li
a{padding:6px;margin:0}.droplinetabs ul li ul li a
span{}.droplinetabs ul li ul li a:hover{}
#attrib_prod{position:relative}#addProdTab
.fieldSet{margin-bottom:10px}#addProdTab .fieldSet
.grid_200{margin-right:20px}#addProdTab .clone-Add{margin-bottom:-60px;position:absolute;right:0px;top:15px;cursor:pointer;z-index:99}#addProdTab .clone-Min{height:15px;bottom:0px}#b_order_browse .list_order
.trigger{cursor:pointer;right:3px;top:3px;background:#fff}#b_order_browse .list_order
.update_form{background:#fff;;z-index:3;margin-top:-3px;border:1px
solid #a1a1a1;border-radius:3px}#b_order_browse .list_order .update_form
ul{padding:0px;margin:0px}#b_order_browse .list_order .update_form
.inner{padding:0px
3px}#b_order_browse .list_order .update_form ul
li{margin:0px
2px;list-style:none;text-transform:capitalize;padding:3px;cursor:pointer}#b_order_browse .list_order .update_form ul
li.active{background-color:#12b8b6;margin:0px
-3px;color:#fff;padding:3px
5px}#b_order_view .left_pane
h3{border-bottom:1px solid #ccc }#b_order_view
h3{font-size:13px;margin-bottom:5px}#b_order_view .order_items
.final_total{border-top:1px solid #ccc}#b_order_view .order_items .final_total
td{background:#fff;border-bottom:none;border-top:1px solid #000}#b_order_view .order_items thead tr
td{text-align:left}.backend .login_page
.heading_page{margin: -10px -15px 0px -15px;padding:10px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#fff}.backend .login_page .heading_page
h4{margin:0px;font-weight:normal}#b_customer_browse
.customer_filter{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background:#fafafa;border:1px
solid #ddd;color:#444}#b_customer_browse .customer_filter
ul{padding:0px;margin:0px}#b_customer_browse .customer_filter ul
li{margin:0px;list-style:none;padding:10px
10px;border-bottom:1px solid #ddd;border-top:1px solid #fff}#b_customer_browse .customer_filter ul li:last-child{border:none}#b_customer_browse .customer_filter ul li:hover{background:#e9e9e9}#b_customer_browse .customer_filter ul li
a{text-decoration:none}#b_customer_browse .customer_filter
.mod_head{border-bottom:1px solid #ddd;padding:5px
10px;font-weight:bold;font-size:12px}#b_customer_browse .customer_filter
h3{font-size:12px;font-weight:bold;margin:0px}#b_collection_browse .coll_list .collection_snap
h3{font-size:15px;margin:0px}#b_modularizer_browse{}#b_modularizer_browse .available_widget
.item{padding-bottom:10px;padding-top:10px;border-bottom:1px solid #ccc;border-top:1px solid #fff}
